.example-card {
    max-width: 400px;
    /* align-content: center; */
    /* justify-content: center; */
    margin: 20px;
    /* position: absolute; */
  }

  .flexone{
    display: flex;
    content: center;
  }