<mat-card >
        <div class="example-button-row">
           
                <!-- <button mat-raised-button color="accent">Enter User Information</button> -->
                <a mat-raised-button routerLink="/userdetails">Enter User Information</a>
                <a mat-raised-button routerLink="/userdbdata">Get User Information</a>
            </div>
        <section>
                <!-- <div class=”media”> -->
                  <!-- <img src="../../assets/images/snow.jpg"> -->
               
        <img mat-card-image src="../../assets/images/snow.jpg" alt="Photo of a Shiba Inu">
 

<!-- </div> -->
</section>
</mat-card>